{% extends "blog/display_feed.html" %}
{% load crispy_forms_tags %}

{% block title %}Favourites Page{% endblock %}

{% block additional %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Feed to Favourites</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Add</button>
        </div>
    </form>
</div>
{% endblock %}

{% block favourite %}
<div id="fav-section">
    <form action="{% url 'fav' feed.id %}" method="POST">
        {% csrf_token %}
        <button name="feed_id" value="{{ feed.id }}" type="submit" class="fas fa-heart fa-2x"
            style="float:right"></button>
    </form>
</div>
{% endblock %}