{% extends "blog/display_feed.html" %}

{% block title %}Home Page{% endblock %}

{% block favourite %}
{% if user.is_authenticated %}
    <div id="fav-section">
        {% if feed in favs %}
            <form action="{% url 'fav' feed.id %}" method="POST">
                {% csrf_token %}
                <button name="feed_id" value="{{ feed.id }}" type="submit" class="fas fa-heart fa-2x" style="float:right"></button>
            </form>
        {% else %}
            <form action="{% url 'fav' feed.id %}" method="POST">
                {% csrf_token %}
                <button name="feed_id" value="{{ feed.id }}" type="submit" class="far fa-heart fa-2x" style="float:right"></button>
            </form>
        {% endif %}
    </div>
{% endif %}
{% endblock %}